body {
  background-color: #f7f7f7;
  text-align: center;
  padding-top: 40px;
  font-family: sans-serif;
}

h1 {
  margin-bottom: 30px;
}

#message {
  font-size: 22px;
  margin-bottom: 20px;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  margin: 0 15px;
}
